:root {
    --primamy-color: #EE4D2D;
    --primamy-color-rgba: rgba(238, 77, 45, 0.1);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --header-height: 129px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
} 

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test chuẩn bị trước khi responsive */

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* App container */

.app__container {
    background-color: #F5F5F5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 14px;
}

.category-item {

}

.category-item--active .category-item__link {
    color: var(--primamy-color);

}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color:  transparent transparent transparent var(--primamy-color);
    top: 50%;
    left: 2px;
    transform: translateY(-50%  );
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;

}

.category-item__link:hover {
    right: -8px;
    color: var(--primamy-color);
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));

    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    animation: growth linear 0.2s; 
    -webkit-animation: growth linear 0.2s;
    -moz-animation: growth linear 0.2s;
    -ms-animation: growth linear 0.2s;
    -o-animation: growth linear 0.2s;
    will-change: transform;
}
 /* Button style */

 .btn {
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 }

 .btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
 }

.btn.btn-size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;

    
}

.btn.btn--primary {
    background-color: var(--primamy-color);
    color: var(--white-color);    
    text-decoration: none;
 }

 .btn.btn--disable {
     color: #949494;
     cursor: default;
     background-color: #c3c3c3;
 }
