.header {
    height: 129px;
    background-image: linear-gradient(0,#f66533,#f43d2d);
}


.header__navbar {
    display: flex;
    justify-content: space-between;
}


.header__navbar-list {
    padding-left: 0;
    margin-top: 4px;
    list-style: none;

}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,.header__navbar-item-link, .header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}    

.header__navbar-icon {
    font-size: 1.4  rem;
    margin: 0 4px;
}

.header__navbar-tittle--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    -webkit-animation: fadeIn ease-in 0.3s;
    -moz-animation: fadeIn ease-in 0.3s;
    -ms-animation: fadeIn ease-in 0.3s;
    -o-animation: fadeIn ease-in 0.3s;

    will-change: opacity;
}

.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    left: 0;
    top: -20px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification */
.header__notify {
    display: none;
    position: absolute;
    top: 140%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    -webkit-animation: headerNotifyGrowth ease-in 0.25s;
    -moz-animation: headerNotifyGrowth ease-in 0.25s;
    -ms-animation: headerNotifyGrowth ease-in 0.25s;
    -o-animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    
}

.header__notify::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 30px;
    right: 0;
    top: -20px;
    cursor: default;
}

.header__notify::after {
    position: absolute;
    content: "";
    top: -35px;
    right: 12px;
    border-width: 20px 30px;
    border-style:  solid;
    border-color: transparent transparent var(--white-color) transparent;
    display: block;
    cursor: default;

}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--no-view {
    background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;

}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
    text-align: center;
}

.header__notify-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    margin: auto;
    font-weight: 400;
}

/* Authen modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primamy-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    outline: none;
    border-radius: 2px;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 20px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primamy-color);
    
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    
}

.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
    
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__socials--google .auth-form__socials-icon {
    
}


.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #858585;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--boder-color);
    height: 16px;
    margin: 1px 16px;
}

.auth-form__help-forgot {
    color: var(--primamy-color);
}